<%- include('partials/head') %>
<body>
  <%- include('partials/navbar') %>
  <main>
    <article class="px-5">
      <h1 class="text-center">Info</h1>
      <p>"Members Only" is a project app from <a class="redirect" href="https://www.theodinproject.com/">The Odin Project's</a> Full-Stack Javascript curriculum.</p>
      <p>MembersClub has three types of users:</p>
      <ul>
        <li>Default viewer - users who don't have a membership or admin access.</li>
        <li>Members - subscribed users who can see post details such as author and date.</li>
        <li>Admins - admin users can see post details and delete posts.</li>
      </ul>
      <strong><p>Note: </p></strong>
      <p>You must be logged in to be able to post a message.</p>
      <p>Guess the passcode in order to gain a <strong>membership</strong> or <strong>admin</strong> access.</p>
    </article>
  </main>
  <%- include('partials/footer') %>
</body>
</html>