<%- include('partials/head') %>
<body>
  <%- include('partials/navbar') %>
  <main>
    <div class="card userForm">
      <h4 class="card-header text-center">Log in</h4>
      <form class="card-body text-center" action="/login" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-dark ">Log in</button>
        <br>
        <a class="redirectForm" href="/sign-up">Don't have an account? Register.</a>
      </form>
    </div>
  </main>
  <%- include('partials/footer') %>
</body>
</html>